// .add-button{
//     background-color: forestgreen;
//     color: white;
//     font-size: 12px;
//   }
  .button {
    font-size: 12px;
  }
  
  .dialog-content h2 {
    font-size: 16px ;
  }
  .dialog-content{
    font-size: 12px;

  }